.map-item-button {
  position: absolute;
  border-radius: 0;
  border-color: #808080;
  border-width: 1px;
  border-style: solid;

  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.map-item-text-div {
  font-size: 10px;
  line-height: 10px;
  word-wrap: break-word;
  white-space: pre-wrap;
}

.rotate-ninety {
  -webkit-transform: rotate(90deg);
  transform-origin: 10px 10px;
  width: 40px;
}

.room {
  position: absolute;
  border-radius: 0;
  border-color: #808080;
  border-width: 1px;
  border-style: solid;

  white-space: nowrap;
  overflow: hidden;
  background-color: white;
  text-align: center;
  vertical-align: middle;
  line-height: 90px;   
}

.desk-info-popover {
  position: absolute;
  width: 190px;
  height: 70px;

  borderRadius: 0;
  background-color: white;
  border-color: #808080;
  border-width: 1px;
  border-style: solid;
  padding: 10px;

  .info {
    margine-button: 15px;
  }
}


