@import 'dropdown';
@import 'base/main';

.map-item-button {
  position: absolute;
  border-radius: 0;
  border-color: #808080;
  border-width: 1px;
  border-style: solid;

  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.map-item-text-div {
  font-size: 10px;
  line-height: 10px;
  word-wrap: break-word;
  white-space: pre-wrap;
}

.rotate-ninety {
  -webkit-transform: rotate(90deg);
  transform-origin: 10px 10px;
  width: 40px;
}

.room {
  position: absolute;
  border-radius: 0;
  border-width: 2px;
  pointer-events: none;
  overflow: hidden;
  background-color: transparent;
}

.space-info-popover {
  position: absolute;
  width: 190px;
  height: 200px;
  border-radius: 0;
  background-color: white;
  border-color: #808080;
  border-width: 1px;
  border-style: solid;
  padding: 10px;

  .info {
    margin-bottom: 10px;
  }
}

.space-button {
  position: absolute;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.space-button-title {
  position: absolute;
  pointer-events: none;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 11px;
}

.border-top {
  border-top: 1px;
  border-top-color: white;
  border-top-width: 1px;
  border-top-style: solid;
}

.border-right {
  border-right: 1px;
  border-right-color: white;
  border-right-width: 1px;
  border-right-style: solid;
}

.border-bottom {
  border-bottom: 1px;
  border-bottom-color: white;
  border-bottom-width: 1px;
  border-bottom-style: solid;
}

.border-left {
  border-left: 1px;
  border-left-color: white;
  border-left-width: 1px;
  border-left-style: solid;
}






